Django
djangorestframework
django-cors-headers
django-filter
drf-nested-routers
drf-spectacular
django-jazzmin
dj-rest-auth
django-allauth
djangorestframework-simplejwt
django-parler
django-parler-rest
python-slugify
requests
gunicorn
psycopg2-binary
django-environ
whitenoise
Faker>=20
