Django
djangorestframework
django-cors-headers
django-filter
drf-nested-routers
drf-spectacular
django-jazzmin
dj-rest-auth
django-allauth
djangorestframework-simplejwt
requests
gunicorn
psycopg2-binary
python-decouple
whitenoise
Faker>=20
